<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false"
	xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<!-- <appender name="file" class="org.apache.log4j.DailyRollingFileAppender"> -->
	<appender name="file" class="org.apache.log4j.RollingFileAppender">
		<param name="append" value="true" />
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="2" />
		<!-- For Tomcat -->
		<param name="file" value="F:\\logs\\userguide.log" />
		<!-- <param name="file" value="/tmp/userguide.log" />-->
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
		</layout>
	</appender>

	<logger name="org.springframework.jdbc.core">
		<level value="ERROR" />
		<appender-ref ref="file" />
	</logger>

	<!-- Root logger option -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="file" />
	</root>

	<logger name="org.springframework">
		<level value="ERROR" />
		<appender-ref ref="console" />
	</logger>
</log4j:configuration>