<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/util 
	http://www.springframework.org/schema/util/spring-util-3.0.xsd">
	
	<util:properties id="appProperties"
    		location="classpath:/app/properties/database.properties" />
  
	<bean id="wheels" class="com.ashish.learning.v4.spring.expression.language.Wheels">
		<property name="wheelbase" value="147"></property>
		<property name="wheelType" value="Alloy"></property>
	</bean>
	
	<bean id="dependentClass" class="com.ashish.learning.v4.dfault.autodetect.DependentClass" autowire="default">
	</bean>
	
	<bean id="independentClass" class="com.ashish.learning.v4.dfault.autodetect.IndependentClass">
	    <property name="property" value="Value is set in bean.xml file"></property>
	</bean>
</beans>
